body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  input, textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #3d3a3a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #000000;
  }
  
  #postsContainer {
    margin-top: 20px;
  }
  
  .post {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
  }
  .delete-post {
    background-color: #e74c3c; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .delete-post:hover {
    background-color: #c0392b; 
  }
  