#navigimi {
    background-color: white;
    justify-content: space-between;
    padding: 0;
    display: flex;
    position: fixed;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: calc(100vw - 10px);
    margin-left: 5px;
    margin-top: 5px;
  }
  
  body{
    margin: 0;
    padding: 0;
    font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
    height: 100%;
    width: 100%; 
    overflow-x: hidden;
    box-sizing: border-box;
  }
  
  .nav1 ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    cursor: pointer;
  }
  .nav1 li {
    margin: 0 30px;
    font-size: larger;
    font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
    cursor: pointer;
  }
  
  .nav2 ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    cursor: pointer;
  }
  
  .nav2 li {
    margin: 0 30px;
    font-size: larger;
    font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
      sans-serif;
      cursor: pointer;
  }
  
  #nav-start {
    width: 600px;
  }
  
  #nav-end {
    width: 600px;
  }
  
  main {
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    max-width: 1100px;
    margin-top: 50px;
    justify-content: center;
  }
  
  .image-container {
    width: 100%;
    height: 250px;
    object-fit: contain;
  }
  
  .image-container img {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    border-radius: 10px 10px 0px 0px;
  }
  
  .main-info {
    padding: 10px;
    display: flex;
    gap: 7px;
    flex-direction: column;
  }
  
  p {
    margin: 0px;
  }
  
  .claps {
    display: flex;
    gap: 2px;
    align-items: center;
  }
  
  .author {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    color: #676666;
    font-size: 14px;
  }
  
  .post {
    width: 230px;
    border: 1px solid #eee;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)
  }
  
  .desc {
    width: 100%;
    margin-top: 10px;
    color: #303030;
  }
  
  .ellipse {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  footer {
    background-color: #cce5ff;
    display: flex;
    flex-direction: row;
    height: 15vw;
    width: 100%;
    background-color: #bebe79;
  }
  footer p {
    font-weight: bold;
    font-size: large;
  }
  
  footer ul {
    list-style-type: none;
    padding: 0 50px;
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column; 
      align-items: center; 
      gap: 15px; 
    }
    .post {
      width: 100%; 
      max-width: 500px; 
    }
  
    .image-container {
      height: 200px; 
    }
  }
  
  .hidden{
    display: none;
  }